.pageContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    gap: 30px;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.totalContainer {
    display: flex;
    gap: 10px;
    margin-left: auto;
    font-family: "Noto Sans Cypro Minoan", Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

.checkoutDiv {
    border: none;
    border-radius: 10px;
    background-color: gray;
    color: white;
    padding: 8px;
    align-self: center;
}

.checkoutDiv:hover {
    cursor: not-allowed;
}