.pageContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    gap: 30px;
    min-height: 100vh;
}

.pageContainer h3 {
    display: flex;
    align-self: center;
    font-size: 2rem;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 80%;
    align-self: center;
}

.totalContainer {
    display: flex;
    gap: 10px;
    margin-left: auto;
    margin-right: 3rem;
    font-family: "Noto Sans Cypro Minoan", Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

.checkoutDiv {
    border: none;
    border-radius: 10px;
    background-color: gray;
    color: white;
    padding: 8px;
    align-self: center;
}

.checkoutDiv:hover {
    cursor: not-allowed;
}

@media (width > 600px) {
    .totalContainer {
        margin-right: 8rem;
    }
}