.container {
    display: flex;
    align-self: center;
    font-family: "Noto Sans Cypro Minoan", Arial, sans-serif;
    font-size: 1rem;
    padding: 10px;
    background-color: white;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.301);
    border-radius: 10px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
}

.itemInfoContainer {
    composes: infoContainer;
    min-width: 100px;
    max-width: 200px;
    padding: 5px;
}

.imgContainer {
    min-width: 90px;
    width: 90px;
    height: 90px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.301);
}

.image {
    width: 100%;
    height: 100%;
    background-color: white;
}

.title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.total {
    font-weight: bold;
}

.remove {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    margin-left: auto;
    width: 30px;
}

.remove svg {
    width: 100%;
    height: 100%;
}


@media (width > 600px) {

    .container {
        padding: 1rem 4rem;
        max-width: 85%;
    }

    .itemInfoContainer {
        align-self: center;
        max-width: 600px;
    }

    .imgContainer {
        min-width: 175px;
        width: 175px;
        height: 175px;
    }

    .total {
        font-size: 1.1rem;
    }

    .remove {
        width: 35px;
        transition: transform 200ms;
        cursor: pointer;
    }

    .remove:hover {
        transform: scale(110%);
    }
}